@import "_variables.scss";

* {
  margin: 0;
  padding: 0;
}

@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin style-text-link($color){
    text-decoration: none;
    text-transform: uppercase;  
    color:$color;
}

@function divide($a,$s){
  @return $a/$s;
}

nav {
  margin: divide(60,2)* 1px;
  background-color: $color-primary;
  //   &:after{
  //     content:'';
  //     clear:both;
  //     display:table;
  //   }

  @include flex;
}

.navigation {
  list-style: none;
  //   float:left;

  li {
    display: inline-block;
    margin-left: 30px;
    &:first-child {
      //* instead of write li again
      margin-left: 0;
    }

    a:link {
      @include style-text-link($color-text-light);
    }
  }
}

//* & used when the selector will be repeated inside its selector while nesting

li {
  li:first-child {
  }

  //* so replace li by &
}

.button {
  //   float: right;
}


%btn-placeholder{
    @include style-text-link($color-text-dark);
    text-align: center;
    display: inline-block;
    padding: 10px;
    border-radius: 100px;
    width: $width-button;
}



.btn-main {
    @extend %btn-placeholder;
  &:link {
    background-color: $color-secondary;
    transition: all 0.4s;
  }

  &:hover {
    background-color: darken($color-secondary, 15%);
  }
}

.btn-hot {
    @extend %btn-placeholder;
  &:link {
    background-color: $color-tertiary;
    transition: all 0.4s;
  }

  &:hover {
    background-color: lighten($color-tertiary, 15%);
  }
}
